<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="edu.sm.app.repository.ChatRepository">

    <insert id="insertMessage" parameterType="edu.sm.app.dto.ChatMessage">
        INSERT INTO chat_message (sender_id, receiver_id, content, is_read, product_id)
        VALUES (#{senderId}, #{receiverId}, #{content}, FALSE, #{productId})
    </insert>

    <select id="getChatHistory" resultType="edu.sm.app.dto.ChatMessage">
        SELECT *
        FROM chat_message
        WHERE (sender_id = #{param1} AND receiver_id = #{param2})
           OR (sender_id = #{param2} AND receiver_id = #{param1})
        ORDER BY sent_at ASC
    </select>

    <select id="getChatPartners" resultType="edu.sm.app.dto.ChatDot">
        WITH conversations AS (
            SELECT
                CASE
                    WHEN sender_id = #{userId} THEN receiver_id
                    ELSE sender_id
                    END AS partnerId,
                p.product_id as productId,
                p.product_name as productName,
                c.is_read,
                c.receiver_id,
                c.sent_at
            FROM chat_message c
                     LEFT JOIN product p ON c.product_id = p.product_id
            WHERE c.sender_id = #{userId} OR c.receiver_id = #{userId}
        )
        SELECT
            partnerId,
            productId,
            productName,
            (MAX(CASE WHEN receiver_id = #{userId} AND is_read = FALSE THEN 1 ELSE 0 END)) > 0 AS hasUnread
        FROM conversations
        GROUP BY partnerId, productId, productName
        ORDER BY MAX(sent_at) DESC
    </select>

    <update id="markAsRead">
        UPDATE chat_message
        SET is_read = TRUE
        WHERE receiver_id = #{param1} AND sender_id = #{param2} AND is_read = FALSE
    </update>

    <select id="countUnreadMessages" resultType="int">
        SELECT COUNT(*)
        FROM chat_message
        WHERE receiver_id = #{userId} AND is_read = FALSE
    </select>

</mapper>